@import './sass/global.scss';
.header {
    background-color: #fff;
    padding: 49px 0;
    &-inner {
        display: flex;
        justify-content: space-between;
    }
    &-link-wrapper {
        display: flex;
    }
    &-link {
        margin: 0 40px;
        display: flex;
        align-items: center;
    }
    &-menu {
        margin-left: 20px;
        cursor: pointer;
    }
}

.home {
    &-slider-item {
        background-image: url('./img/sliderBg1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 722px;
    }
    &-slider-inner {
        position: relative;
    }
    &-slider-inner>img {
        position: absolute;
        left: -250px;
    }
    &-slider-text {
        position: absolute;
        width: 635px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

.collection {
    padding-top: 130px;
    &-subtitle {
        display: block;
        background-color: #fff;
        margin: 0 auto;
        text-align: center;
        max-width: 730px;
        margin-bottom: 50px;
    }
}

.aesthetic {
    height: 616px;
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        max-width: 500px;
    }
    &-outer {
        height: 100%;
        background-color: rgba(#fff, .6);
    }
}

.progress {
    padding: 80px 0 150px;
    &-inner {
        border-bottom: 2px solid $black;
        position: relative;
        display: flex;
    }
    &-title {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }
    &-title>h5 {
        margin-left: 10px;
    }
    &-item {
        width: 250px;
        position: relative;
    }
    &-item:nth-child(2) {
        transform: translateX(100%);
    }
    &-item:last-child {
        transform: translateX(100%);
        position: absolute;
        padding-top: 20px;
        bottom: -87%;
    }
    &-item:first-child::after {
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: $black;
        bottom: -6px;
    }
    &-item:nth-child(2)::after,
    &-item:last-child::after {
        content: '';
        width: 2px;
        height: 20px;
        background-color: $black;
        position: absolute;
    }
    &-item:nth-child(2):after {
        bottom: 0;
    }
    &-item:last-child::after {
        bottom: 100%;
    }
}

.gallery {
    width: 100%;
    padding: 50px 0;
    height: 100vh;
    &-btn {
        margin: 0 auto 40px;
        text-align: center;
    }
    &-btn>button {
        margin: 0 12px;
        padding: 6px 16px;
        border-radius: 20px;
        border: 1px solid $grayLight;
        color: $gray;
    }
    &--active-btn {
        color: $black !important;
        border: 1px solid rgba($yellow, .5) !important;
        background-color: rgba($yellow, .5);
    }
    &-grid {
        height: 100%;
        display: grid;
        grid-template-columns: 3fr 2fr 2fr;
        gap: 30px;
        padding: 30px;
    }
    &-img:first-child {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    &-img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.inspiration {
    margin-top: 120px;
    &-title {
        display: block;
        max-width: 430px;
        text-align: center;
        margin: 0 auto;
    }
    &-content {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
}

.footer {
    margin-top: 100px;
    background-color: #dfdfdf;
    & p {
        font-size: 14px;
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        padding: 64px 0 81px;
    }
    &-item {
        margin-bottom: 15px;
        display: flex;
    }
    &-item>p {
        padding-left: 12px;
    }
    &-list-title {
        margin-bottom: 15px;
    }
    &-list-email {
        margin: 15px 0 22px;
    }
    &-list-email>a {
        margin-left: 14px;
        color: $black;
    }
    &-list-input>input::placeholder {
        font-family: Open Sans;
        color: rgba($gray, .4);
    }
    &-list-input>input {
        border-radius: 21px;
        border: 1px solid rgba($black, .7);
        padding: 12px 18px;
        background-color: transparent;
        width: 360px;
        font-size: 14px;
    }
    &-list-input>button {
        background-color: $black;
        padding: 12px 12px;
        width: 136px;
        border-radius: 21px;
        font-size: 14px;
        margin-left: 10px;
        color: white;
    }
    &-bottom {
        background-color: $black;
        color: #a1a1a1;
    }
    &-bottom-text {
        text-align: center;
        padding: 42px 0;
    }
}

.breadcrumbs {
    z-index: 1;
    background-color: rgba($grayLight, .5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    &-path {
        padding: 15px 0;
    }
    &-path>a {
        color: $black;
    }
}

.about {
    &-wall {
        background-image: url('./img/about-wall.jpg');
    }
    &-wall-title {
        padding: 160px 0;
        text-align: center;
    }
    &-desc {
        margin: 100px 0 40px;
    }
    &-desc-title {
        width: 825px;
    }
    &-desc-text {
        width: 825px;
        display: block;
        margin-left: 20%;
        margin-top: 35px;
    }
}

.company {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.details {
    margin: 235px 0 10px;
    background-image: url('./img/sliderBg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 414px;
    &-inner {
        position: relative;
        height: 100%;
        width: 100%;
    }
    &-inner>img {
        position: absolute;
        left: -250px;
        top: -125px;
    }
    &-info {
        max-width: 825px;
        position: absolute;
        top: -125px;
        right: 0;
    }
    &-values {
        margin-top: 50px;
    }
    &-progressline {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 35px;
        padding-bottom: 15px;
        border-bottom: 2px solid white;
        position: relative;
    }
    &-line {
        background-color: $black;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 20%;
        height: 2px;
    }
}

.about-video {
    background-image: url('./img/video.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 167px 0;
    margin-top: 100px;
    &-btn {
        display: block;
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }
}

.blog {
    &-item {
        max-width: 730px;
        margin-bottom: 40px;
    }
    &-image {
        width: 100%;
    }
    &-info {
        margin: 20px 0 7px;
    }
    &-info,
    &-info a {
        color: $gray;
        font-size: 14px;
    }
    &-info a:hover {
        text-decoration: underline;
    }
    &-inner {
        padding-top: 110px;
        display: flex;
        justify-content: space-between;
    }
    &-title {
        display: inline-block;
        margin: 5px 0;
    }
    &-text {
        margin-top: 10px;
    }
    &-cite-content {
        margin-top: 60px;
        background-color: rgba($grayLight, .5);
        padding: 60px;
        text-align: center;
    }
    &-cite {
        font-size: 24px;
    }
    &-cite::after {
        right: 30%;
    }
    &-author {
        margin-top: 50px;
    }
    &-nav {
        max-width: 350px;
    }
    &-nav-search {
        position: relative;
    }
    &-nav-search>input {
        font-size: 14px;
        display: block;
        font-family: Open Sans;
        width: 100%;
        border: 1px solid rgba($black, .7);
        border-radius: 20px;
        padding: 6px 18px;
    }
    &-nav-search>input::placeholder {
        color: $grayLight;
    }
    &-nav-search>img {
        position: absolute;
        right: 11px;
        top: 50%;
        transform: translateY(-50%);
    }
    &-nav-list {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
    }
    &-nav-list>h5 {
        margin-bottom: 15px;
    }
    &-nav-list>a {
        color: $gray;
        margin: 6px 0;
    }
    &-nav-item>a {
        color: $black;
        display: block;
        margin-bottom: 5px;
    }
    &-nav-item>span {
        margin-bottom: 15px;
        font-size: 14px;
        display: block;
        color: rgba($gray, .5);
    }
    &-nav-item>span>a {
        color: rgba($gray, .5);
    }
    &-tag {
        width: fit-content;
        color: rgba($gray, .5);
        border: 1px solid rgba($gray, .5);
        font-size: 14px;
        border-radius: 14px;
        padding: 5px 16px;
    }
    &-nav-social {
        margin-top: 40px;
        max-width: 155px;
        display: flex;
        justify-content: space-between;
    }
}

.pagination {
    width: 48px;
    white-space: nowrap;
    margin: 0 auto;
    &-arrow {
        margin: 0 6px;
    }
    &>span {
        padding: 0 6px;
        color: rgba($gray, .5);
    }
    &-current {
        color: $black !important;
    }
}

.single-blog {
    &-cite-content {
        margin: 20px 0;
        padding: 20px;
    }
    &-cite {
        font-size: 24px;
    }
    &-author {
        margin-top: 50px;
    }
    &-tags {
        margin: 30px 0;
    }
    &-tags-list {
        margin-top: 20px;
    }
    &-tags-list>a:not(:first-child) {
        margin-left: 15px;
    }
}

.blog-pagination {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-top: 1px solid $grayLight;
    border-bottom: 1px solid $grayLight;
    &-wrapper {
        display: flex;
        align-items: center;
    }
    &-wrapper p {
        padding: 0 20px;
        max-width: 270px;
    }
    &-wrapper:last-child p {
        text-align: right;
    }
}

.blog-comments {
    &-title {
        margin-top: 35px;
    }
    &-list {
        margin-top: 25px;
    }
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 50px;
    }
    &-content {
        width: 610px;
    }
    &-content>span {
        font-size: 14px;
        color: rgba($gray, .5);
    }
    &-content>p {
        margin-top: 10px;
    }
    &-avatar {
        width: 65px;
        height: 65px;
        background-color: $gray;
        border-radius: 50%;
    }
    &-post-inner {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
    &-post-inner>textarea {
        padding: 15px;
        grid-column-start: 1;
        grid-column-end: 3;
        border-radius: 24px;
        border: 1px solid #DFDFDF;
        font-family: Open Sans;
        resize: vertical;
    }
    &-post-inner>input {
        padding: 6px 15px;
        border-radius: 20px;
        border: 1px solid #DFDFDF;
        font-family: Open Sans;
    }
    &-post>button {
        margin-top: 25px;
        background-color: $black;
        color: white;
        padding: 9px 45px;
        border-radius: 21px;
    }
}

.contact {
    &-map {
        width: 100%;
        min-height: 600px;
    }
    &-content-socials {
        display: flex;
        justify-content: space-between;
        max-width: 284px;
        margin-top: 40px;
    }
    &-content-email>a {
        color: $black;
        margin-left: 10px;
    }
    &-content-email {
        margin-top: 20px;
    }
    &-content-inner>p {
        margin: 20px 0;
    }
    &-content {
        padding: 50px 0 620px;
        position: relative;
    }
    &-content-inner {
        position: absolute;
        max-width: 825px;
        right: 0;
    }
    &-content-inner>span {
        display: block;
        margin-top: 5px;
    }
    &-content-form-inner {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
    &-content-form>button {
        margin-top: 25px;
        background-color: $black;
        color: white;
        padding: 9px 45px;
        border-radius: 21px;
    }
    &-content-form-inner>textarea {
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 15px;
        border: 1px solid #DFDFDF;
        border-radius: 24px;
        min-height: 125px;
        resize: vertical;
        font-family: Open Sans;
    }
    &-content-form-inner>input {
        padding: 6px 12px;
        border: 1px solid #DFDFDF;
        border-radius: 20px;
        font-family: Open Sans;
    }
}

.admin {
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    height: 100vh;
    &-option {
        width: 300px;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba($grayLight, .3);
        z-index: 20;
    }
    &-logo {
        display: block;
        text-align: center;
        padding: 15px 0;
    }
    &-option-inner {
        display: flex;
        flex-direction: column;
    }
    &-option-link {
        color: $black;
        padding: 20px;
        font-size: 17px;
    }
    &-option-link--active {
        background-color: white;
    }
    &-option-inner span {
        padding-left: 20px;
    }
    &-profile-avatar {
        width: 150px;
        height: 150px;
        margin: 50px auto 0;
        background-color: $gray;
        border-radius: 50%;
    }
    &-profile-names {
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    &-profile-names>h4 {
        display: inline;
        padding: 10px;
    }
    &-profile-position {
        padding: 10px 30px;
        color: white;
        position: absolute;
        background-color: rgba($gray, .5);
        right: 20px;
        top: 20px;
        font-family: Open Sans;
        text-transform: uppercase;
    }
    &>section {
        width: 100%;
    }
    &-inner {
        padding: 40px;
        position: relative;
    }
    &-pages-item {
        display: block;
        padding: 20px 0;
    }
    &-pages-item:first-child {
        border-top: 1px solid rgba($gray, .2);
        border-bottom: 1px solid rgba($gray, .2);
    }
    &-pages-item:not(:first-child) {
        border-bottom: 1px solid rgba($gray, .2);
    }
    &-list-item {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    &-list-item:nth-child(2n+1) {
        background-color: rgba($gray, .1);
    }
    &-list-item:nth-child(2n) {
        background-color: rgba($gray, .05);
    }
    &-blog-content {
        color: $black;
    }
    &-blog-title:hover {
        text-decoration: underline;
    }
    &-blog-content>span {
        margin-right: 10px;
    }
    &-blog-content>svg {
        cursor: pointer;
    }
    &-blog-btn {
        margin-left: 25px;
    }
    &-filter {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    &-filter>button {
        display: flex;
        align-items: center;
        padding: 12px 30px;
        background-color: $black;
        color: white;
    }
    &-filter>button>h5 {
        color: white;
    }
    &-blog-form>button {
        background-color: $black;
        padding: 10px 30px;
        margin-top: 20px;
        color: white;
    }
    &-filter>button>svg {
        margin-right: 10px;
    }
    &-users {
        width: 100%;
    }
    &-blog-form {
        width: 100%;
    }
    &-blog-form-input {
        position: relative;
        margin-top: 15px;
    }
    &-blog-form-input>textarea,
    &-blog-form-input>input {
        resize: vertical;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba($gray, .2);
        padding: 10px 25px;
    }
    &-blog-form-list {
        z-index: 1;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        background-color: #fff;
    }
    &-blog-form-inner {
        position: relative;
        display: none;
    }
    &-blog-form-list>span {
        display: block;
        padding: 5px 15px;
        transition: .2s;
    }
    &-blog-form-list>span:hover {
        background-color: rgba($gray, .1);
        cursor: pointer;
    }
}

.auth {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    &-form {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        position: relative;
    }
    &-form>h3 {
        margin-bottom: 20px;
        min-width: 300px;
    }
    &-form>input {
        text-align: center;
        font-family: Open Sans;
        display: block;
        font-size: 17px;
        padding: 5px 20px;
        border: none;
        border-bottom: 1px solid $grayLight;
        margin-top: 15px;
    }
    &-form>input::placeholder {
        font-size: 14px;
        color: rgba($gray, .4);
    }
    &-btn {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-btn>button {
        background-color: $black;
        padding: 10px 30px;
        color: white;
    }
    &-btn>a {
        font-size: 12px;
        color: $gray;
    }
    &-btn>a:hover {
        text-decoration: underline;
    }
    &-error {
        display: block;
        margin-top: 20px;
        background-color: $red;
        color: white;
        font-size: 13px;
        padding: 5px 0;
        font-family: Open Sans;
        position: absolute;
        bottom: -50px;
        right: 0;
        left: 0;
    }
}